 <!-- public/views/aboutNerds.html -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Starter MEAN Single Page Application</title>

    <!-- CSS -->
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css"> 

</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Mean Practice</a>
				<a class ="navbar-brand" href="/aboutNerd">What is a Nerd?</a>
			</div>
		</div>
	</nav>
	<h1>What is a Nerd?</h1>
    <div class="container">
    	<p>A nerd is characterized by intense passion and interest in a topic. When prompted, a nerd can provide detailed explanations on the topic. These explanations are often delivered with charming enthusiasm.</p>
    </div>

</body>
</html>